NODE_ENV=DEVELOPMENT
PORT=5000
SERVICE_NAME=auth-server
LOG_LEVEL=info
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:3000
DATABASE_URL=<enter-database-url>
REDIS_URL=<enter-redis-url>
GOOGLE_CLIENT_ID=<enter-google-client-id>
GOOGLE_CLIENT_SECRET=<enter-google-client-secret>
GMAIL_REFRESH_TOKEN=<enter-gmail-refresh-token>
GITHUB_CLIENT_ID=<enter-github-client-id>
GITHUB_CLIENT_SECRET=<enter-github-client-secret>
EMAIL_USER=<enter-email-user>
ACCESS_TOKEN_SECRET=<enter-access-token-secret>
REFRESH_TOKEN_SECRET=<enter-refresh-token-secret>
OPENAI_API_KEY=<enter-openai-api-key>
AI_MODEL=gpt-4o-mini
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
FEATHERLESS_API_KEY=<enter-featherless-api-key>